body {
	background: #4E5851;
}
h1 {
	color: #FFE681;
	font-family: monospace,verdana,arial, helvetica, tahoma ,verdana,  sans-serif;
	font-size: 46px;
	font-style: italic;
	font-weight: 400;
	line-height: 60px;
	letter-spacing: -3px;
	margin-bottom: 36px;
}

h2 {
	color: #FFE681;
	font-family: monospace,verdana,arial, helvetica, tahoma ,verdana,  sans-serif;
	font-size: 30px;
	font-style: italic;
	font-weight: 400;
	line-height: 40px;
	letter-spacing: -1px;
	margin-bottom: 36px;
}

h3 {
	color: #FFE681;
	font-family: monospace,verdana,arial, helvetica, tahoma ,verdana,  sans-serif;
	font-size: 28px;
	font-weight: 400;
	font-style: italic;
	line-height: 30px;
	letter-spacing: -1px;
	margin-bottom: 26px;
}

p {
	color: #EBEBE3;
	font-family: LatoRegular, Arial, Helvetica;
	font-size: 20px;
	font-weight: 500;
	line-height: 36px;
	margin-bottom: 36px;
	/*text-indent: 36px;*/

}

a {
	color: #FFE681;	border-bottom: 1px solid #FFE681;
	font-style: italic;
	text-decoration: none;
	font-family: LatoRegular, Arial, Helvetica;
	font-size: 20px;
	font-weight: 500;	
}

a:hover {
	border-bottom: 2px solid #f6d55c;
	color: #FFE681;
	font-family: LatoRegular, Arial, Helvetica;
	font-size: 20px;
	font-weight: 500;	
}

#links td {
	color: #4E3F30;
	font-family: LatoRegular, Arial, Helvetica;
	font-size: 20px;
	font-weight: 500;
	line-height: 36px;
	margin-bottom: 36px;
	text-indent: 36px;
}


/* allgemeine links im text */

/*a:link, a:visited, a:active{ font-size: 13px;line-height: 18px;font-family: monospace,verdana,arial, helvetica, tahoma ,verdana,  sans-serif; text-decoration:underline;color:#000;background-color:transparent;
}*/


.trenn {color:#FFE681}

.wrap {
    margin: 0 auto;
    max-width: 800px;
	padding: 46px 0;
    position: relative;
    z-index: 1;
}

.fuss {
	color: #FFE681;	border-bottom: 1px solid #FFE681;
	font-style: italic;
	text-decoration: none;
}
